<!-- 2022.12.02. 구현 시작일 (코드 작성자 : 이보형) / 버전 2022.12.05. PM 17:00 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- MDB 삽입 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"/>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/kit_code.js" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


    <title>Dancing whalE</title>
</head>
<body>
<div class="row h-100">
    <div class="col-sm-12 my-auto white-text text-center">
        <div class="container">
            <h6>
                <a>Dancing whalE</a>
                {% if logininfo %}
                    <a>{{ logininfo }}님</a>
                {% endif %}
                {% if logininfo %}
                    <a href="/post">게시판가기</a>
                    <a href="/logout">로그아웃</a>
                {% else %}
                    <a href="/login">로그인</a>
                    <a href="/regist">회원가입</a>
                {% endif %}
            </h6>
        </div>
    </div>

    <!-- 뉴스피드(MDB부트스트랩) - 시작 -->
    <!-- 출처 : News aggregator / https://mdbootstrap.com/docs/standard/extended/news-feed/ -->

    <!-- 버튼 색깔 참고용 <button type="button" class="btn btn-primary" style="background-color: #6C6BD1">Read more</button> -->
    <!--Main layout-->
    <div class="container">
        <!--Section: Content-->
        <section>
            <div class="row gx-lg-5">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <!-- News block -->
                    <div>
                        <!-- Featured image -->
                        <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                             data-mdb-ripple-color="light">
                            <img src="https://cdn.imweb.me/upload/S201807025b39d1981b0b0/16b98d3e3d30e.jpg"
                                 class="img-fluid"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <!-- Article data -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <a href="" class="text-info">
                                    <i class="fas fa-plane"></i>
                                    작성자명
                                </a>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <a href="" class="text-dark">
                            <h5>작성글 제목</h5>
                            <p>
                                작성글 내용
                            </p>
                            <p style="text-align: center;">
                                조회수 00
                            </p>

                        </a>

                        <hr/>
                        <!-- 설명 : <hr> 태그는 콘텐츠 내용에서 주제가 바뀔 때 사용할 수 있는 수평 가로선을 정의할 때 사용합니다.
                                   <hr> 요소는 HTML 문서에서 내용을 구분하거나 주제의 변화를 정의합니다. http://www.tcpschool.com/html-tags/hr -->
                    </div>
                    <!-- News block -->
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- News block -->
                    <div>
                        <!-- Featured image -->
                        <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
                             data-mdb-ripple-color="light">
                            <img src="https://i.pinimg.com/originals/ef/9a/77/ef9a77001c89c32bce4627e5c6307fc2.jpg"
                                 class="img-fluid"
                                 alt="Brooklyn Bridge"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <!-- Article data -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <a href="" class="text-danger">
                                    <i class="fas fa-chart-pie"></i>
                                    작성자명
                                </a>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <a href="" class="text-dark">
                            <h5>작성글 제목</h5>

                            <p>
                                작성글 내용
                            </p>

                            <p style="text-align: center;">
                                조회수 00
                            </p>
                        </a>

                        <hr/>
                    </div>
                    <!-- News block -->
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- News block -->
                    <div>
                        <!-- Featured image -->
                        <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
                             data-mdb-ripple-color="light">
                            <img src="https://ifh.cc/g/g1k5RH.jpg" class="img-fluid"
                                 alt="Golden Gate National Recreation Area"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <!-- Article data -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <a href="" class="text-warning">
                                    <i class="fas fa-code"></i>
                                    작성자명
                                </a>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <a href="" class="text-dark">
                            <h5>작성글 제목</h5>

                            <p>
                                작성글 내용
                            </p>

                            <p style="text-align: center;">
                                조회수 00
                            </p>
                        </a>

                        <hr/>
                    </div>
                    <!-- News block -->
                </div>
            </div>
        </section>
        <!-- Section: Content -->
        <!-- 뉴스피드(MDB부트스트랩) - 끝 -->
</body>
</html>