<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 상세</title>
</head>
<body>
  <div>
    <h1>게시글제목</h1>
        <tr>
          <th class="active" >제목</th>
          <td>
            ${ajax받아올 부분}
          </td>
        </tr>
  </div>
  <div>
        <tr>
          <th class="active">작성자</th>
          <td>
            ${ajax받아올 부분}
          </td>
        </tr>
  </div>
  <div>
        <tr>
          <th class="active" >내용</th>
          <td>
            ${ajax받아올 부분}
          </td>
        </tr>
  </div>
  <div class="mypost" id="guestbook_box">
    <div>
        <input type="text" class="text" id="name" placeholder="이름">
    </div>
    <div>
        <input type="text" class="textbox" placeholder="여기에 남길 말을 써주세요." id="comment">
    </div>
    <button onclick="save_comment()" class="coment-save" type="button" >댓글 남기기</button>
    <button onclick="hide_comment()" class="hidebutton" type="button">닫기</button>

    <div class="card">
      <div class="card-body">
          <blockquote class="blockquote mb-0" style="font-size: 18px">
              <p>${이름}</p>
              <footer class="blockquote-footer">${코멘트}</footer>
          </blockquote>
      </div>
  </div>`
</body>
</html>

