<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <title>Dancing whalE｜마이페이지</title>
</head>
<body>
<br>
<!-- 게시글 조회 - 시작 -->
<!-- 출처 : Social media newsfeed v.1 / https://mdbootstrap.com/docs/standard/extended/news-feed/ -->
<!--Section: Newsfeed-->
<section>
    <div class="card" style="max-width: 42rem">
        <div class="card-body">
            <!-- Data -->
            <div class="d-flex mb-3">
                <a href="">
                </a>
                <div>
                    {% for data in mydata %}
                        <a href="" class="text-muted d-block" style="margin-top: -6px">
                            <small>아이디 {{ data['user_name'] }}</small>
                        </a>
                        </div>
                        </div>
                        <!-- Description -->
                        <div>
                            <p>
                                자기소개 {{ data['user_intro'] }}
                            </p>
                        </div>
                        </div>
                        <!-- 게시글 조회 - 끝 -->

                        </div>
                        <div class="card-footer">
                            <!-- <a href="/post/edit/{{data['userid']}}" class="card-link">정보수정</a>
                  <a href="/post/delete/{{data['userid']}}" class="card-link">삭제하기</a>
                  <a href="/post" class="card-link">목록으로</a> -->
                        </div>
                    {% endfor %}
{#    {% for data in mydataedit %}#}
{#        <a href="/mypage/edit/{{data['myid']}}" class="card-link">수정하기</a>#}
{#    {% endfor %}#}

<a href="/mypage/edit/{{ username }}" class="card-link">수정하기</a>
    <!-- Interactions -->
    </div>
</section>
<!--Section: Newsfeed-->

</body>
</html>