<!DOCTYPE html>
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #bbdefb;
        }
        td {
            background-color: #e3f2fd;
        }
</style>
</head>

<body>
    <p>
        <h1> Hello {{name}} ! </h1>
    </p>

    <form method="POST">
        <p><label>내용을 입력하세요 <input type="text" name="content"></label>&nbsp&nbsp&nbsp<input type="submit" value="작성하기" onclick="alert('작성 완료!')"></p>
    </form>

    <table class="table">
        <tr>
            <th>내용</th>
            <th>작성자</th>
            <th>작성시간</th>
        </tr>
        {% for obj in data_list%}
        <tbody>
            <tr>
                <td>{{obj.con}}</td>
                <td>{{obj.writer}}</td>
                <td>{{obj.time}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>

</html>